
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.navbardiv {
    width: 100%;
  height: 100px;
  background: #21325e;
  display: flex;
  justify-content: center;


}

.navbarlinks  {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 15px;
   font-size: 30px;

    
}
.hamburgermenu  {
display: none;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   position: absolute;
   align-items: end;

   
}
.hamburgermenu button {
    color: white;
   background-color: transparent;
    border:none;
}
.hamburgermenu svg {
    font-size : 70px;
    margin: 10px;
}
.navbarlinks a {
    color: white;
    text-decoration: None;
    font-family: 'Montserrat', sans-serif;
}
@media only screen and (max-width: 425.587px) {
   .navbarlinks {
    display: flex;

   }


#close a {
    display: none;
}}
   
@media only screen and (min-width: 605px) {
    .hamburgermenu{
     display: none;
     width: 100%;
    } }

#open {
  height: 100vh;
  width: 100vw;

}
#open .navbarlinks {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 200px;
}

#open a {
    width: 100%;
    text-align: center;
  }

